body {
  background-color: black;
  font-family: verdana;
  text-align: center;
}

#head {
  font-weight: normal;
  font-size: 50px;
  color: white;
}

.guide {
  font-weight: 300;
  font-size: 42px;
  color: white;
}

.download {
  color: Aquamarine;
  font-size: 16px;
}

#symbol {
  text-align: right;
  color: gray;
  font-size: 21px;
}

#middle p {
  color: white;
}

#description {
  color: gray;
  font-size: 21px
}
